---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: kube-prometheus-stack
  namespace: dev
spec:
  interval: 15m
  url: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
  ref:
    tag: "79.11.0"
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: dev
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
    namespace: dev
  valuesFrom:
    - kind: ConfigMap
      name: prometheus-values
